@media screen and (min-width: 481px) and (max-width: 992px) {
  .main-section {
    max-width: 788px;

    .header {
      max-width: 768px;
      max-height: 900px;
      margin: auto;
      padding: 0;

      .header__navbar {
        background-color: #27262a;
        width: 768px;
        padding: 30px 0 10px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;

        .header__navbar-after-column {
          width: 768px;
          margin: auto;
          display: flex;
          flex-direction: row;
          padding: 0 20px;
          margin-top: -8px;
          justify-content: space-between;
        }

        .header__item-block {
          display: none;
        }

        .header__item-block-hidden {
          display: flex;
          justify-content: space-between;
          width: 518px;
          margin: 12px auto;
        }
      }

      .header__titles {
        .header__title {
          font-size: 72px;
          line-height: 72px;
          margin-top: 50px;
        }

        .header__text {
          font-size: 24px;
          line-height: 24px;
          margin-top: 19px;
        }
        .header__text-os-version {
          font-size: 14px;
          line-height: 14px;
        }
      }

      .header__btn-download {
        margin-top: 15px;
      }
    }

    //about-fork----------------------------------------------------
    .about-fork {
      max-width: 768px;
      margin: 0 auto -3px;

      .about-fork__content {
        margin: 80px 3px 118px;
      }

      .about-fork__title-text {
        font-size: 42px;
        line-height: 44px;
        padding-top: 85px;
      }

      .about-fork__footer-text {
        width: 704px;
        font-size: 14px;
        line-height: 21px;
      }

      .about-fork__footer-line {
        width: 555px;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-section {
    max-width: 320px;

    .header {
      max-width: 320px;
      margin: auto;
      padding: 0;
      max-height: 650px;

      .header__navbar {
        background-color: #27262a;
        width: 320px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;

        .header__navbar-after-column {
          width: 320px;
          margin: auto;
          display: flex;
          flex-direction: row;
          padding: 0 15px;
          margin-top: -8px;
          justify-content: space-between;
        }

        .header__item-block {
          display: none;
        }

        .header__item-block-hidden {
          display: flex;
          justify-content: center;
          margin-top: 2px;
        }
      }
      .header__titles {
        .header__title {
          font-size: 48px;
          line-height: 48px;
          margin-top: 50px;
        }

        .header__text {
          font-size: 18px;
          line-height: 24px;
          width: 290px;
          margin: 19px auto 14px;
          display: block;
          padding: 0 25px;
        }
        .header__text-os-version {
          font-size: 12px;
          line-height: 12px;
        }
      }

      .header__navbar {
        .header__item-block-hidden {
          position: fixed;
          display: none;
          transition: 0.3s;
          box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        }

        .header__item-block-hidden.active {
          position: absolute;
          top: 91px;
          width: 291px;
          display: flex;
          flex-direction: column;
          align-self: center;
          align-items: flex-start;
          justify-content: space-around;
          background-color: #333;
          transition: 0.3s;
        }

        .header__item-block-hidden {
          .header__list {
            padding: 19px 0;
            border-bottom: 3px solid #3b3b3b;
          }

          .header__link {
            @include font-Montserrat;
            font-weight: 400;
            font-size: 26px;
            height: 53px;
            width: 290px;
            display: flex;
            align-items: center;
            padding-left: 38px;
            color: #fff;
            border-left: 8px solid transparent;
          }
          .header__link:hover {
            border-left: 8px solid #8d81ac;
            color: #8d81ac;
            transition: 0.3s;
          }
        }

        .header__navbar-after-column {
          .header__item-block {
            display: none;
          }

          .hamburger {
            display: block;
            cursor: pointer;
            height: 30px;
            margin-top: 5px;
            transition: 0.3s;
          }

          .hamburger.active .bar:nth-child(1) {
            opacity: 0;
          }

          .hamburger.active .bar:nth-child(2) {
            transform: translateY(4px) rotate(45deg);
          }

          .hamburger.active .bar:nth-child(3) {
            transform: translateY(-4px) rotate(-45deg);
          }
        }
      }

      .header__logo-text {
        display: none;
      }
      .header__btn-download {
        max-width: 290px;
      }
      .editor__download {
        max-width: 290px;
        font-size: 18px;
      }
      .header__btn {
        font-size: 18px;
        padding: 15px 29px;
      }

      .header__link-trial {
        margin-top: 27px;
      }

      .header__empty-block {
        max-height: 325px;
        margin-top: 27px;
      }
    }

    .about-fork {
      .about-fork__content {
        margin: 53px 25px 45px;
        gap: 45px;
      }

      .about-fork__content-info {
        width: 270px;
        height: 160px;
      }

      .about-fork__title-text {
        font-size: 38px;
        line-height: 48px;
        padding-top: 57px;
      }

      .about-fork__footer-text {
        width: 251px;
        font-size: 14px;
        line-height: 21px;
      }

      .about-fork__footer-line {
        width: 245px;
      }
    }
  }
}

//  section: editor, features, pricing

// media queries 768px

@media screen and (min-width: 481px) and (max-width: 992px) {
  .main-section {
      max-width: 788px;

        //section editor
      .editor {
      max-width: 768px;
      margin: auto;
      padding: 88px 0;

      .editor__content {
          max-width: 768px;
          margin: auto;

           .editor__title {
          font-size: 42px;
          line-height: 42px;
          margin-bottom: 19px;
      }

      .editor__text {
          font-size: 21px;
          line-height: 32px;
          width: 690px;
          margin-bottom: 24px;
      }
      }  
  }


  // section features
  .features {
      max-width: 768px;
      margin: auto;
      padding: 88px 0;
      display: block;
      padding: 66px 0;
      background: rgba(0, 0, 0, 0.0001);

      .features__left {
          padding: 62px 35px 0px 30px;

          .features__title-media {
          display: block;
          font-size: 42px;
          line-height: 42px;
          margin-bottom: 52px;
          text-align: center;
          color: #8d81ac;
          font-weight: 700;
          line-height: 44px;
          @include font-Montserrat;
      }
        .features-item {
                  display: flex;
                  align-items: start;
                  justify-content: space-around;
                  width: 722px;
              }
        .features-item-content {
                  max-width: 580px;
                  margin-left: 24px;
              }

        .features-item-title {
                  font-size: 16px;
                  line-height: 21px;
                  margin-bottom: 5px;
              }
      .features-item-text {
          font-size: 14px;
          line-height: 21px;
      }
    }
      .features__right {
          padding-top: 40px;
          display: flex;
          justify-content: flex-end;
      

      .features__title {
          display: none;
      }
      .features__img {
          float: right;
          width: 700px;
          height: 520px;
      }
    }
  }
  }

  // section pricing

  .pricing {
      max-width: 768px;
      margin: 0 auto;
      padding: 25px 0 94px 0;

      .pricing__title {
          font-size: 42px;
          line-height: 44px;
          margin-bottom: 40px;
      }

      .pricing__offer {
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
          align-items: center;
          justify-content: center;
      }
  }
}

// media queries 320px

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-section {
      max-width: 320px;
  

  //section editor
  .editor {
      max-width: 320px;
      margin: auto;
      padding: 44px 0;

      .editor__content {
          max-width: 320px;
          margin: 0 auto;

      .editor__title {
          font-size: 26px;
          line-height: 28px;
          margin-bottom: 27px;
          text-align: center;
      }

      .editor__text {
          font-size: 14px;
          line-height: 20px;
          width: 276px;
          margin-bottom: 36px;
      }

      .editor__github {
          width: 290px;
          flex-wrap: wrap;
          justify-content: center;
      }
    }
  }

  .github-button {
      margin: 20px 5px;
  }

  // section features
  .features {
      max-width: 320px;
      margin: auto;
      padding: 32px 0 0 0;
      display: block;
      background: rgba(0, 0, 0, 0.0001);
      padding-top: 88px;

      .features__left {
          padding: 0 25px;

      .features__title-media {
          display: block;
          font-size: 32px;
          line-height: 38px;
          text-align: center;
          color: #8d81ac;
          font-weight: 700;
          line-height: 44px;
          @include font-Montserrat;
      }

      .features-item {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 270px;
          height: auto;
          margin-top: 37px;
      }

      .features-item-content {
          max-width: 270px;
          margin-top: 20px;
      }

      .features-item-title {
          font-size: 16px;
          line-height: 16px;
          margin-bottom: 14px;
      }

      .features-item-text {
          font-size: 14px;
          line-height: 21px;
          text-align: center;
      }

    }

    .features__right {
          width: 320px;
          height: 100%;
          overflow: hidden;
          position: relative;
      

          .features__title {
          display: none;
      }
          .features__img {
              max-width: 440px;
              height: 380px;
              padding-left: 10px;
      }
    }
  }

  // section pricing

  .pricing {
      max-width: 320px;
      margin: 0 auto;
      padding: 2px 0 15px 0;

      .pricing__title {
          font-size: 28px;
          line-height: 42px;
          margin-bottom: 32px;
      }

      .pricing__offer {
          display: flex;
          flex-wrap: wrap;
          margin: 0 auto;
          align-items: center;
          justify-content: center;

          .offer__item{
            margin: 18px 30px 0 30px;
          }

          .offer__accent{
            margin: 18px 10px 0 10px;
          }
      }
          
  }
}

}