@import "./_reset.scss";
@import "./_fonts.scss";
@import "./_mixins.scss";
@import "./_variables.scss";
@import "./_media-queries.scss";


  @media print {
    html, body {
      width: 1380px; /* Устанавливаем максимальную ширину для печати */
      overflow-x: hidden; /* Скрываем горизонтальную прокрутку */
    }
  } 

.main {
    width: 1380px;
    margin: auto;
    padding: 0 10px;

    .header {
        background-image: url(../img/header-bg.png);
        height: 800px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
        &__navbar {
            max-width: 1200px;
            margin: auto;
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
            // border: 1px solid red;
        }


        &__navbar-after-column {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
            &__logo-img{
                background-image: url(../img/logo.png);
                width: 43px;
                height: 41px;
            }
   
        &__logo {
            display: flex;
            align-items: center;
            @include font-Lato;
            font-weight: 700;
            font-size: 24px;
            line-height: 16px;
            color: $header-text-color;
            text-transform: uppercase;
            gap: 17px;
            text-decoration: none;
            cursor: pointer;         
        }
        &__logo:hover .header__logo-img{
            display: block;
            background-image: url(../img/logo-hover.png);   
            transition: 0.5s;      
        }
        &__logo:hover{
            transition: 0.5s;
            color: #fff;
        }
    
        &__item-block{
            display: flex;
            margin-left: 300px;
            
        }

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 48px;
            
        }

       &__item-block-hidden{
        display: none;
       }

        &__list{
              list-style-type: none;
        }

        &__link {
            text-decoration: none;
            color: $header-text-color;
            @include font-Montserrat;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;   
          
        }

        &__link:hover{
            transition: 0.5s;
            color: #fff;
        }

        .navbar-btn-block{
            width: auto;
            display: flex;
            align-items: center;
        }
        .navbar-btn {
            @include font-Montserrat;
            font-weight: 700;
            font-size: 16px;
            line-height: 17px;
            padding: 7px 30px;
            background-color: $header-text-color;
            border-radius: 40px;
            color: #fff;
            
            border: 1px solid transparent;
        }
        .navbar-btn:hover{
            background-color: #fff;
            color: $header-text-color;
            transition: 0.5s;
            border: 1px solid $header-text-color;
        }


        &__title {
            @include font-Montserrat;
            font-weight: 700;
            font-size: 82px;
            line-height: 82px;
            text-align: center;
            color: #fff;
            margin: 60px 0 0;

        }

        &__text {
            @include font-Lato;
            font-weight: 400;
            font-size: 30px;
            line-height: 30px;
            margin: 19px 0;
            text-align: center;
            color: $header-text-color;
            text-transform: capitalize;
        }

        &__text-os-version {
            @include font-Montserrat;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            color: #848e97;
        }

        &__empty-block {
            height: 460px;
        }

        &__btn-download {
            width: 394px;
            margin: 0 auto;
        }
        &__btn {
            padding: 20px 61px;
            @include font-Montserrat;
            font-weight: 700;
            font-size: 21px;
            line-height: 22px;
            color: #fff;
            background: $header-text-color;
            border: 2px solid transparent;
            border-radius: 40px;
            cursor: pointer;
            text-decoration: none;
        }

        &__btn:hover{
            background: #fff;
            border: 2px solid $header-text-color;
            color: $header-text-color;
            transition: 0.5s;
        }

        &__link-trial {
            margin-top: 42px;
            text-align: center;
            @include font-Montserrat;
            font-weight: 400;
            font-size: 14px;
            line-height: 15px;
            color: #848e97;
            cursor: pointer;
        }

        .hamburger {
            display: none;
        }
        
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: #f7f5f5;
        }
        .bar:first-child{
            width: 12px;
            margin-left: 13px;
        }
    }
}



// section editor

.editor{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    background: #ffffff;
    padding: 70px 90px;

    &__button{
        position: absolute;
        top: -35px;
        left: 495px;
    }
  

    &__download{
        width: 390px;
        height: 62px;
        background: #8D81AC;
        border-radius: 40px;
        color: #ffffff;
        font-weight: 700;
        font-size: 21px;
        line-height: 22px;
    }
  &__download:hover{
        background: #FFFFFF;
        border: 2px solid #8D81AC;
        color: #8D81AC;
    }

    &__button-info{
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-align: center;
        color: #848E97;
        margin: 19px 0;
    }

    &__content{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    &__title{
        font-weight: 700;
        font-size: 54px;
        line-height: 54px;
        text-transform: uppercase;
        color: #635C73;
        margin: 19px 0;
    }

    &__text{
        font-weight: 400;
        font-size: 21px;
        line-height: 32px;
        text-align: center;
        color: #323232;
        width: 860px;
        margin: 15px 0;
    }

    &__github{
        display: flex;
        width: 400px;
        justify-content: space-between;
    }
}


.github{
    &-button{
    display: flex;
    color: grey;
    border: 1px solid #45444b;
    border-radius: 2px;
    vertical-align: middle;
    font-weight: 400;
    }

    &-btn{
        border-right: 1px solid #45444b;
        font-weight: 400px;
        font-size: 16px;
        padding: 0 6px;
        display: block;
        justify-content: space-between;
        align-items: center;
        background: #a7a4a4;
        color: #333238;
    }

    &-link{
        color: #333238;
        padding: 0 6px;
    }
}

// end section editor


// start section features

.features{
    display: grid;
    grid-template-columns:  0.5fr 1fr;
    width: 1380px;
    margin: 0 auto;
    background: #F4F4F4;


    &__left{
        padding: 100px 50px 70px 100px;
    }

    &-item{
        display: flex;
        align-items: start;
        justify-content: space-between;
        width: 536px;
        height: 110px;
        margin-bottom: 30px;
    }

    &-item-img{
        object-fit: contain;
    }

    &-item-content{
        max-width: 405px;
    }

    &-item-title{
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
        margin-bottom: 17px;
    }

    &-item-text{
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        font-family: 'Montserrat', sans-serif;
    }

    &__right{
        padding-top: 95px;
    }

    &__title{
        font-weight: 700;
        font-size: 48px;
        line-height: 50px;
        color: #8D81AC;
        margin-bottom: 20px;
    }
}


@media(max-width: 993px){
    
}
// end section features
